* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

.header {
  overflow: hidden;
  background-color: #235789;
  padding: 10px 10px;
}

.header a,
.header span.title {
  float: left;
  color: #F1D302;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
}

.header span.title {
  font-size: 18px;
  font-weight: bold;
}

.header a:hover {
  text-decoration: underline;
}

.header-right {
  float: right;
}

.server {
  margin: auto;
  padding: 10px;
  border: 3px solid #235789;
  border-radius: 15px;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  justify-self: center;
  align-content: space-between;
}

.server .serverBtn {
  border-radius: 15px;
  border: 2.5px solid #235789;
  background-color: #235789;
  color: #F1D302;
  margin: 20px;
  padding: 20px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
